*{
    font-family: 'Poppins', sans-serif;
    font-size: 32px; 
}

body { 
    background-color: #e9e8e8;
}

main{
    background-color: aliceblue
    width: 500px;
    margin: auto; 
    padding; 10px;  
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);

    ;
}
{   コ
ht
font-size: 2em;
color: rgb(58, 9, 112);
}
h2
{font-size: 1.5em;
color: rgb(58, 9, 112);
}

Img.lado {
    float:right;
}


a {
    text-decoration: none;
font-weight: bold;
color: rgb(58, 8, 112);
}

a:hover {
        text-decoration: underline;
color: rgb(26, 26, 255);
}


